* {
    box-sizing: border-box;
}
html{
    height: 100%;
    background-image: linear-gradient(rgb(119, 136, 153),rgb(200, 221, 241));
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
    background-size: auto;
  }
  
  .main{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: none;
  }
  h1{
    text-align: center;
    color: #fff;
  }
  form{
    background-color: #fff;
    padding: 25px;
  }
  input[type="text"]{
    width: 310px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: #fff;
    color: #2f4f4f;
  }
  button{
    font-size: 1.5em;
    float: right;
    color: #53BDFF;
    background-color: #fff;
    outline: 0;
    border: none;
    width: 50px;
  
  }
  .tasks{
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    /*display: none;*/
  
  }
  ul{
    list-style: none;
  }
  li{
    border-bottom: 1px solid #ffd753;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3em;
    color: #2f4f4f;
  }
  #clear{
    float: right;
    text-align: right;
    color: #cc1212;
    font-size: 1.2em;
    cursor: pointer;
  }
  .delete{
    background-color: #ffffff;
    padding: 0px 3px 0px 3px;
    color: rgb(255, 0, 0);
    cursor: pointer;
  }
