* {
    box-sizing: border-box;
}
html{
    height: 100%;
    background-image:linear-gradient(rgb(202, 209, 205), rgb(255, 255, 255));
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
    background-size: auto;
  }
  
  .main{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: none;
  }
  h1{
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: #fff;
    background-color: rgb(182, 91, 17);
    text-decoration: underline;
    
    padding: 21.44px 0px;
  }
  form{
    background-color: #fff;
    padding: 10px;
    
  }
  input[type="text"]{
    width: 310px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: #fff;
    color: #2f4f4f;
  }
  button{
    font-size: 1.7em;
    float: right;
    color: #096b00;
    background-color: #fff;
    outline: 0;
    border: none;
    cursor: pointer;
    width: 50px;
  
  }
  .tasks{
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
  
  }
  ul{
    list-style: none;
  }
  li{
    border-bottom: 1px solid #d4bc97;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3em;
    color: #2f4f4f;
  }
  .checkmark{
    cursor: pointer;
    padding: 5px;
  }
  #active {
    
  }
  #completed {
    
  }
  #refresh{
    padding: 5px;
    float: right;
    text-align: right;
    color: #ff9204;
    font-size: 1.5em;
    cursor: pointer;
  }
  #clear{
    padding: 5px;
    float: right;
    text-align: right;
    color: #cc1212;
    font-size: 1.5em;
    cursor: pointer;
  }
  .delete{
    background-color: #ffffff;
    float: right;
    padding: 0px 3px 0px 3px;
    color: rgb(109, 29, 29);
    cursor: pointer;
  }
